.create-room-body {
  min-height: 100vh;
  height: 100%;
  background-image: url("./../../../assets/matching_background.svg");
  background-size: 50%;
  color: white;
}

.create-room-menu {
  background-image: url("./../../../assets/matching_background.svg");
  background-size: 40%;
}

.exit-create-room {
  border-right: 1px solid #4e311d;
}

.create-room-menu-top {
  border-bottom: 2px solid #4e311d;
  width: 100%;
}

.footer-create-room {
  background-image: url("./../../../assets/backgroung_carotv_2.svg");
  background-size: 50%;
  border-top: 2px solid #4e311d;
}

.footer-create-room .nav-item {
  width: 50%;
}

.footer-create-room .nav-item:first-child {
  border-right: 2px solid #4e311d;
}
