.room-item {
  background-image: url("./../../../assets/matching_background.svg");
  background-size: 40%;
  width: 100%;
  border: 2px solid #4e311d;
  border-radius: 0.25rem !important;
}

.room-item-footer {
  border-top: 2px solid #4e311d;
}

.room-item-head {
  border-bottom: 2px solid #4e311d;
}

.room-item-head span:first-child {
  margin-right: auto;
  border-left: none;
}

.room-item-head span {
  margin: 0;
  border-left: 1.5px solid #4e311d;
}

.room-item-body {
  width: 100%;
}
