.regiter-tournament-user img {
  width: 50px;
}

.regiter-tournament-user {
  background-image: url("./../../assets/backgroung_carotv_2.svg");
  background-size: 150%;
  max-height: 100%;
}

.tournament-detail {
  background-color: #48484891;
  z-index: 9999;
}

.tournament-detail-content {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 60%;
}

.tournament-detail-close-btn {
  background-image: url("./../../assets/backgroung_carotv_2.svg");
  background-size: cover;
}
