.find-room-modal {
  height: 100vh;
  width: 100vw;
  background-color: #48484891;
}

.find-room-modal-content {
  background-image: url("./../../../assets/matching_background.svg");
}

.find-room-btn {
  background-image: url("./../../../assets/backgroung_carotv_2.svg");
}

.list-room-result {
  max-height: 200px;
}
