.rooms-lobby {
  height: 100%;
  min-height: 100vh;
  background-image: url("./../../assets/matching_background.svg");
  background-size: 60%;
}

.room-item {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 40%;
  width: 100%;
  border: 2px solid #4e311d;
  border-radius: 0.25rem !important;
}

.room-item-head {
  border-bottom: 2px solid #4e311d;
}

.room-item-body {
  width: 100%;
}

.room-item-footer {
  border-top: 2px solid #4e311d;
}

.player-inroom-img {
  width: 3em;
}

.lock-room {
  margin: auto;
}

.lock-room img {
  height: 2em;
}

.room-item-col:last-child {
  margin-bottom: 10px;
}

.room-menu {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 40%;
  border-bottom: 2px solid #4e311d;
}

.coin_lobby {
  display: flex;
  border-left: 1px solid #4e311d;
  border-right: 1px solid #4e311d;
}

.coin_lobby img {
  /* width: 25px; */
  height: 1.5em;
}

.modal-password {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 60%;
  border: 2px solid #4e311d;
}

.input-carotv {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #4e311d;
}

.input-carotv::placeholder {
  color: #ffc107;
  text-align: center;
}

.menu-top {
  border-bottom: 2px solid #4e311d;
  width: 100%;
}

.game-type {
  width: 100%;
}

.game-gomoku {
  border-right: 2px solid #4e311d;
}
