.rooms-lobby {
  height: 100%;
  min-height: 100vh;
  background-image: url("./../../assets/matching_background.svg");
  background-size: 60%;
}

.player-inroom-img {
  width: 3em;
  height: 3em;
}

.lock-room {
  margin: auto;
}

.lock-room img {
  height: 2em;
}

.unlock-room {
  margin: auto;
}

.unlock-room img {
  height: 2em;
}

.room-item-col:last-child {
  margin-bottom: 4em;
}

.room-menu {
  background-image: url("./../../assets/backgroung_carotv_2.svg");
  background-size: 50%;
  border-bottom: 2px solid #4e311d;
}

.elo-lobby {
  border-right: 1px solid #4e311d;
}

.coin_lobby {
  display: flex;
  /* border-left: 1px solid #4e311d; */
  border-right: 1px solid #4e311d;
}

.coin_lobby img {
  /* width: 25px; */
  height: 1.5em;
}

.modal-password {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 60%;
  border: 2px solid #4e311d;
}

.menu-top {
  border-bottom: 2px solid #4e311d;
  width: 100%;
}

.game-type {
  width: 100%;
  border-bottom: 2px solid #4e311d;
}

.game-type h5 {
  cursor: pointer;
}

.user-status {
  width: 100%;
  /* background-image: url("./../../assets/matching_background.svg"); */
  /* background-size: 50%; */
}

.user-status .nav-item:first-child {
  border-right: 2px solid #4e311d;
}

.game-gomoku {
  border-right: 2px solid #4e311d;
}

.footer-lobby {
  background-image: url("./../../assets/backgroung_carotv_2.svg");
  background-size: 40%;
  border-top: 2px solid #4e311d;
}
