* {
  font-family: "Patrick Hand", cursive;
}

button:focus {
  outline: none !important;
}

.wood-btn-back:active {
  /* transition-delay: 1s; */
  /* filter: saturate(2); */
  backdrop-filter: saturate(2);
}

.wood-btn:active {
  filter: saturate(2);
}
