* {
  font-family: "Patrick Hand", cursive;
}

button:focus {
  outline: none !important;
}

.wood-btn-back:active {
  /* transition-delay: 1s; */
  /* filter: saturate(2); */
  backdrop-filter: saturate(2) !important;
}

.wood-btn-back:hover {
  cursor: pointer;
  backdrop-filter: saturate(10%);
}

.wood-btn:hover {
  cursor: pointer;
  filter: saturate(10%);
}

.wood-btn:active {
  filter: saturate(2);
}

.input-carotv {
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  border-bottom: 1px solid #4e311d;
}

.input-carotv::placeholder {
  color: #ffc107;
  text-align: center;
}

.text-stroke-carotv {
  text-shadow: -1.25px -1.25px 0 #262626, -1.25px 0px 0 #262626,
    1.25px 0px 0 #262626, 0px 1.25px 0 #262626, 0px -1.25px 0 #262626,
    1.25px 1.25px 0 #262626, -1.25px 1.25px 0 #262626, 1.25px -1.25px 0 #262626;
}
