.square-empty {
  border-top: 0.1px solid #9d8239;
  border-right: 0.1px solid #9d8239;
  width: 100%;
  cursor: auto;
}

.square {
  border-top: 0.1px solid #9d8239;
  border-right: 0.1px solid #9d8239;
  width: 100%;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  max-width: 60%;
}

.square-empty:after {
  content: "";
  display: block;
  margin: 100%;
}

p {
  margin: 0px;
}

.square-empty:last-child {
  border-right: none;
}

.square:last-child {
  border-right: none;
}

.row_:first-child .square-empty {
  border-top: none;
}

.row_:first-child .square {
  border-top: none;
}

.row_ {
  display: flex;
  margin: auto;
  max-width: 100vw;
}

.game-play-body {
  width: 100vw;
}

.game-play {
  background-image: url("./../../assets/matching_background.svg");
  background-size: 50%;
  max-height: 100vh;
  overflow: auto;
}

.number-bottom {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 4vw;
}

.position-label {
  z-index: 999 !important;
  transition: 0.1s;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
}

.menu-more {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: #48484891;
}

.menu-more .menu-more-content {
  min-width: 50vw;
}

.others-btn {
  background-image: url("./../../assets/backgroung_carotv_2.svg");
}
